ul.nav, ul.nav * {
    margin: 0;
    padding: 0;
}
ul.nav {
    height: 2.5em;
    max-width: 100%;
}
ul.nav li {
    cursor: pointer;
    float: left;
    font-weight: normal;
    list-style-type: none;
    text-align: center;
}
ul.nav li ul {
    cursor: default;
    height: auto;
    left: -9000px;
    max-width: 100%;
    position: absolute;
    top: 2.5em;
    width: 100%;
}
ul.nav li ul li {
    border: medium none;
    max-width: none;
    padding: 0;
    width: auto;
}
ul.nav li a {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: bold;
    height: 2.4em;
    line-height: 2.5em;
    padding: 0 1em;
    text-decoration: none;
}
ul.nav li ul li a {
    background-position: 0 50% !important;
    color: #666666;
    cursor: pointer !important;
    font-weight: normal;
    height: 2em;
    line-height: 2em;
    position: relative !important;
    white-space: nowrap;
}
ul.nav li:hover a, ul.nav li a:hover, ul.nav li a:focus {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #000000;
}
ul.nav li a:active {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
}
ul.nav li:hover ul {
    left: 0;
    z-index: 10;
}
ul.nav li ul, ul.nav li {
    background: none repeat scroll 0 0 #CCCCCC !important;
}
ul.nav li:hover ul li a {
    color: #444444;
}
ul.nav li:hover ul li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
ul.nav li:hover ul li a:active {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
}
ul.nav li.current a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    cursor: default;
    font-weight: bold;
}
ul.nav li.current ul {
    left: 0;
    z-index: 5;
}
ul.nav li.current ul, ul.nav li.current {
    background: none repeat scroll 0 0 #CCCCCC !important;
}
ul.nav li.current ul li a {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #444444;
    font-weight: normal;
}
ul.nav li.current ul li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
ul.nav li ul li.current a, ul.nav li ul li.current a:hover, ul.nav li.current:hover ul li a:active {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
}
ul.nav {
    background: none repeat scroll 0 0 #666666;
}
ul.main li {
    left: 0;
    position: relative;
    top: 0;
}
ul.main li ul {
    border-top: 0 none;
}
ul.main li ul li {
    float: left;
}
ul.main li a {
    background: none repeat scroll 0 0 #666666;
    border: 0 none;
    color: #FFFFFF;
    height: 2.5em;
    line-height: 2.5em;
}
ul.main li ul li a {
    background: none repeat scroll 0 0 #444444;
    border-top: 1px solid #444444;
    color: #FFFFFF;
    height: 2em;
    line-height: 2em;
    text-align: left;
    width: 12em;
}
ul.main li a:focus {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
}
ul.main li ul li a:hover {
    background: none repeat scroll 0 0 #555555;
    color: #FFFFFF;
}
ul.main li:hover a {
    background: none repeat scroll 0 0 #555555;
    color: #FFFFFF;
}
ul.main li:hover ul li a {
    color: #FFFFFF;
}
ul.main li:hover ul li a:hover {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}
ul.main li:hover a:active {
    background: none repeat scroll 0 0 #444444;
}
ul.main li:hover ul li a:active {
    background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
}
ul.nav li.secondary {
    background: none repeat scroll 0 0 transparent !important;
    color: #CCDDEE;
    float: right;
}
ul.nav li.secondary span.status {
    float: left;
    font-size: 0.9em;
    height: 2.77em;
    line-height: 2.77em;
    padding: 0 1em;
}
ul.nav li.secondary span.status a {
    background: none repeat scroll 0 0 transparent;
    color: #CCDDEE;
    display: inline;
    float: none;
    height: auto;
    padding: 0;
}
ul.nav li.secondary span.status a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
ul.nav li.secondary span.status span {
    text-transform: capitalize;
}
ul.nav li.secondary:hover a {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
}
ul.nav li.secondary:hover a:hover {
    background: none repeat scroll 0 0 #555555;
}
ul.nav li.secondary:hover a:active {
    background: none repeat scroll 0 0 #444444;
}
