[% WRAPPER mobile/wrapper.tt
 title = "Welcome to E-invoices" %]

    [% IF c.req.param('sub_template') == "search" %]
        [% INCLUDE mobile/sale/search.tt%]
    [% ELSE %]
        [% INCLUDE mobile/sale/list.tt%]
    [% END %]

[% END %]