<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

		[% PROCESS head 
			title = "Welcome to Invoices" %]

		<script language="javascript">
            
            [% INCLUDE js %]

            $(document).ready(function() {
                init_sidebar_forms();
            });
		 </script>

	</head>
	<body>
		<div class="container_16">
			
			<div class="clear"></div>
			<!-- sidebar form container -->
			<div class="grid_4 sidebar">

			<div class="block"> 
			</div>	

			[% INCLUDE download_links %]
           	<!-- sidebar form container-->


			</div><!-- grid_4 -->
			<div class="grid_12 mainbar" >
				[% IF registered %]

                	[% INCLUDE admin/registered.tt %]
				[% ELSE %]

                	[% INCLUDE admin/register %]
				[% END %]
            </div>
				
			<div class="clear"></div>
			<div class="grid_16" id="site_info">

				[% INCLUDE footer %]
			</div>
			<div class="clear"></div>
		</div>
			</body>
</html>
